---
import * as styles from "./Text.css";

interface Props {
  size?: keyof typeof styles.size;
}

const { size = "medium" } = Astro.props;
---

<div class:list={[styles.root, styles.size[size]]}><slot /></div>