---
import { Avatar } from 'astro-ui-avatars';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro UI Avatars</title>
  </head>
  <body>
    <section class="main">
      <h1>Orbit</h1>
      <p>
        This is a demo page to check all the available options on
        `astro-ui-avatars`
      </p>

      <h1>Avatars</h1>
      <div>
        <Avatar />
      </div>
    </section>
  </body>
</html>
