---
import { Schema } from 'astro-seo-schema';
import { Seo } from 'astro-seo-meta';
import {
  Audio,
  BallTriangle,
  Bars,
  Circles,
  Grid,
  Hearts,
  Oval,
  Puff,
  Rings,
  SpinningCircles,
  TailSpin,
  ThreeDots
} from 'astro-svg-loaders';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>

    <Seo
      title="My Astro website"
      description="My blazing fast astro website"
      keywords={['website', 'blog', 'astro']}
      icon="/favicon.ico"
      themeColor="#000000"
      colorScheme="light"
      facebook={{
        image: '/facebook.png',
        url: 'https://astro.build',
        type: 'website'
      }}
      twitter={{
        image: '/twitter.png',
        site: '@astrodotbuild',
        card: 'summary'
      }}
    />

    <Schema
      item={{
        '@context': 'https://schema.org',
        '@type': 'Person',
        name: 'Grace Brewster',
        alternateName: 'Grace Brewster Murray Hopper',
        alumniOf: {
          '@type': 'CollegeOrUniversity',
          name: ['Yale University', 'Vassar College']
        },
        knowsAbout: ['Compilers', 'Computer Science']
      }}
    />
  </head>
  <body>
    <section class="main">
      <h1>Orbit</h1>
      <p>This is a playground to check all the packages on this repository</p>

      <h1>Loaders</h1>
      <div class="loaders">
        <div class="loader"><Audio /></div>
        <div class="loader"><BallTriangle /></div>
        <div class="loader"><Bars /></div>
        <div class="loader"><Circles /></div>
        <div class="loader"><Grid /></div>
        <div class="loader"><Hearts /></div>
        <div class="loader"><Oval /></div>
        <div class="loader"><Puff /></div>
        <div class="loader"><Rings /></div>
        <div class="loader"><SpinningCircles /></div>
        <div class="loader"><TailSpin /></div>
        <div class="loader"><ThreeDots /></div>
      </div>
    </section>
    <style is:global>
      html {
        height: 100vh;
      }

      body {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        margin: 0;
        padding: 0;
        height: 100%;
        background: #3023ae;
        background: linear-gradient(135deg, #3023ae 0%, #c86dd7 100%);
      }

      .main {
        width: 80%;
      }

      .loaders {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          '. . . .'
          '. . . .'
          '. . . .';
      }

      .loader {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .loader:nth-child(1) {
        background-color: #1abc9c;
      }
      .loader:nth-child(2) {
        background-color: #34495e;
      }
      .loader:nth-child(3) {
        background-color: #f39c12;
      }
      .loader:nth-child(4) {
        background-color: #9b59b6;
      }
      .loader:nth-child(5) {
        background-color: #3498db;
      }
      .loader:nth-child(6) {
        background-color: #e74c3c;
      }
      .loader:nth-child(7) {
        background-color: #2ecc71;
      }
      .loader:nth-child(8) {
        background-color: #2c3e50;
      }
      .loader:nth-child(9) {
        background-color: #f1c40f;
      }
      .loader:nth-child(10) {
        background-color: #8e44ad;
      }
      .loader:nth-child(11) {
        background-color: #2980b9;
      }
      .loader:nth-child(12) {
        background-color: #e74c3c;
      }
      /* DO_NOT_REMOVE: The following css rules are unsed,
       * they are left here on purpose, to test out
       * the "astro-purgecss" integration
       */
      .unused-class {
        color: red; /* unused */
      }
      .unused-class-2 {
        color: blue; /* unused */
      }
      #unused-id {
        color: red; /* unused */
      }
      #unused-id-2 {
        color: red; /* unused */
      }
      footer {
        color: red; /* unused */
      }
    </style>
  </body>
</html>
