---
import { Schema } from 'astro-seo-schema';
import { Seo } from 'astro-seo-meta';
import {
  Audio,
  BallTriangle,
  Bars,
  Circles,
  Grid,
  Hearts,
  Oval,
  Puff,
  Rings,
  SpinningCircles,
  TailSpin,
  ThreeDots
} from 'astro-svg-loaders';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/main.css" />
    <title>Astro</title>

    <Seo
      title="My Astro website"
      description="My blazing fast astro website"
      keywords={['website', 'blog', 'astro']}
      icon="/favicon.ico"
      themeColor="#000000"
      colorScheme="light"
      facebook={{
        image: '/facebook.png',
        url: 'https://astro.build',
        type: 'website'
      }}
      twitter={{
        image: '/twitter.png',
        site: '@astrodotbuild',
        card: 'summary'
      }}
    />

    <Schema
      item={{
        '@context': 'https://schema.org',
        '@type': 'Person',
        name: 'Grace Brewster',
        alternateName: 'Grace Brewster Murray Hopper',
        alumniOf: {
          '@type': 'CollegeOrUniversity',
          name: ['Yale University', 'Vassar College']
        },
        knowsAbout: ['Compilers', 'Computer Science']
      }}
    />
  </head>
  <body>
    <section class="main">
      <h1>Orbit</h1>
      <p>This is a playground to check all the packages on this repository</p>

      <h1>Loaders</h1>
      <div class="loaders">
        <div class="loader"><Audio /></div>
        <div class="loader"><BallTriangle /></div>
        <div class="loader"><Bars /></div>
        <div class="loader"><Circles /></div>
        <div class="loader"><Grid /></div>
        <div class="loader"><Hearts /></div>
        <div class="loader"><Oval /></div>
        <div class="loader"><Puff /></div>
        <div class="loader"><Rings /></div>
        <div class="loader"><SpinningCircles /></div>
        <div class="loader"><TailSpin /></div>
        <div class="loader"><ThreeDots /></div>
      </div>
    </section>
  </body>
</html>
