<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <section class="main">
      <p>This is an about page</p>
      <p class="sm:hidden">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero esse
        accusantium, dignissimos corporis ipsam, atque facere expedita aliquid
        repellat, unde alias voluptatem officia ullam. Perferendis ipsam facilis
        officiis beatae nam.
      </p>
    </section>
    <style>
      /* DO_NOT_REMOVE: The following css rules are unsed,
       * they are left here on purpose, to test out
       * the "astro-purgecss" integration
       */
      .unused-class-3 {
        color: red; /* unused */
      }
      .unused-class-4 {
        color: blue; /* unused */
      }
      #unused-id-3 {
        color: red; /* unused */
      }
      #unused-id-4 {
        color: red; /* unused */
      }
      p {
        color: red; /* used */
      }
      .sm\:hidden {
        color: red; /* should not be removed */
      }
    </style>
  </body>
</html>
