<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/assets/css/theme.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="light-theme">
    <section class="main">
      <h1>Orbit</h1>
      <p>This is a playground to check all the packages on this repository</p>
    </section>
    <style is:global>
      html {
        height: 100vh;
      }

      body {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        margin: 0;
        padding: 0;
        height: 100%;
        background: #3023ae;
        background: linear-gradient(135deg, #3023ae 0%, #c86dd7 100%);
      }
      /* DO_NOT_REMOVE: The following css rules are unsed,
       * they are left here on purpose, to test out
       * the "astro-purgecss" integration
       */
      .unused-class {
        color: red; /* unused */
      }
      .unused-class-2 {
        color: blue; /* unused */
      }
      #unused-id {
        color: red; /* unused */
      }
      #unused-id-2 {
        color: red; /* unused */
      }
      footer {
        color: red; /* unused */
      }
    </style>
  </body>
</html>
