---
import Layout from '../../layouts/main.astro';
---

<Layout>
  <section class="main">
    <h1>Astro PurgeCSS</h1>
    <p>
      This is a playground to check all the <code>astro-purgecss</code> integration
    </p>
    <p class="sm:hidden">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero esse
      accusantium, dignissimos corporis ipsam, atque facere expedita aliquid
      repellat, unde alias voluptatem officia ullam. Perferendis ipsam facilis
      officiis beatae nam.
    </p>
  </section>
</Layout>
